  
/ vendor /
node_modules /
NPM-debug.log
Пряжа-error.log

# Laravel 4 конкретный
bootstrap / compiled.php
приложение / хранилище /

# Laravel 5 & Lumen конкретно
общественный / склад
общедоступный / горячий

# Laravel 5 & Lumen специфично с измененным публичным путем
public_html / storage
public_html / hot

хранилище / * .key
.env
Homestead.yaml
Homestead.json
/ .vagrant
.phpunit.result.cache